
.body{
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;


  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}
.user-service li{
  list-style: none;
 }

.lines-top{
  background-color: #293449;
  font-size: 17px;
  color: #ffffff;
}

.lines-top:hover{
  background-color:#212a3a;
}
.lines-top:focus{
  background-color: #161d29;
  opacity:0.6;
}

.user-service li,
.user-navigation li,
.site-navigation li{
  list-style: none;
}

.user-service a,
.site-navigation a{
  color:#ffffff;
}
.logotype{
  width: 220px;
  height: 47px;
}
.icon-top:hover{
  opacity:1;
}
.search{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 270px;
  padding-top:14px;
  padding-bottom:14px;
  padding-left:17px;
}
.search input{
  background-color: #293449;
  border:none;
  font-family: "Cuprun", Arial, sans-serif;
}
.search:hover{
  background-color: #ffffff;
  border:none;
}
.search input:hover{
  background-color: #ffffff;
  border:none;
}
.search img{
  padding-right: 16px;
}
.icon-top{
  opacity: 0.3;
}
.user-service{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 450px;
}
.bookmarks a{
  width: 150px;
  padding-top:12px;
  padding-bottom:14px;
  padding-left:17px;
}
.bookmarks img{
  padding-right: 13px;
}
.basket a{
  width: 150px;
  padding-top:13px;
  padding-bottom:14px;
  padding-left:18px;
}
.basket img{
  padding-right: 17px;
}
.user-booking a{
  background-color: #63a63e;
  padding-top:14px;
  padding-bottom:12px;
  padding-left:20px;
  padding-right:22px;
}
.line-two{
  background-color: #f4f7f9;
  height: 278px;
  margin-bottom: 60px;
}

.header-info .info{
  font-style: italic;
  font-size: 16px;
  color: #ee3643;
  padding-right: 70px;
  padding-left: 53px;
  margin: 0 0;
}
.contact-border{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  font-size: 21px;
  color: #ee3643;
  margin: 0 0;
}
.contact-border .phone{
  position: relative;
  border: 3px solid #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 48px;
  padding-left: 15px;
  margin: 0 0;
}
.contact-border img{
  position: relative;
  padding-right: 42px;
}
.adress{
  font-size: 14px;
  color: #32425c;
  margin: 0 0;
  padding-top: 10px;
}
.login-button a{
  color:#000000;
  background-color: #ffffff;
  font-size: 21px;
  position: relative;
  top:14px;
  left: 14px;
}
.login-button img{
  padding-right: 15px;
}
.registration-button a{
  color:#000000;
  background-color: #ffffff;
  font-size: 21px;
  position: relative;
  top:14px;
  left: 25px;
}
.user-navigation{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-navigation a:hover{
  color:#ee3643;
}
.login-button{
  background-color: #ffffff;
  width: 120px;
  min-height: 46px;
}
.registration-button{
  margin: 22 12 ;
  background-color: #ffffff;
  width: 150px;
  min-height: 46px;
}

.header-down .site-navigation{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 55px;
  background-color: #32425c;
  font-size: 17px;
  color: #ffffff;
  margin: 0 auto;
  border-bottom: 5px solid #293449;
  margin-bottom: 60px;
}

.site-navigation a:hover{
 background-color: #293449;
 padding-top:16px;
 padding-bottom:16px;

}



.site-navigation a:focus{
 background-color: #1d2739;
 color:#a8abaf;
 padding-top:16px;
 padding-bottom:16px;
}

.product-nav-materials{
 background-color: #ffbf47;
 color:#ffffff;
 width:300px;
 height:123px;

}
.product-nav-tools{
 background-color: #3bbce3;
 color:#ffffff;
 width:300px;
 height:123px;
}
.product-nav-technique{
 background-color: #dc91d8;
 color:#ffffff;
 width:300px;
 height:123px;
}
.product-nav-discount{
 background-color: #8ed78f;
 color:#ffffff;
 width:300px;
 height:123px;
}
.product-nav-delivery{
 background-color: #ffc047;
 color:#ffffff;
 width:300px;
 height:123px;
}
.product-nav a{
 background-color: #000000;
 opacity: 0.1;
 color:#ffffff;
 padding:
}
.product-nav a:hover{
 opacity: 0.2;
}
.product-nav a:focus{
 opacity: 0.3;
}
.slider a{
  position:absolute;
  background-color: #ee3643;
  color:#ffffff;
}
.slider a:hover{
  background-color: #ca2c37;
}
.slider a:focus{
  background-color: #ba2732;
}
.paginator{
  position:absolute;
}
.slider-navigator-points{
  position:absolute;
}
.slid-2{
  visibility: hidden;
}

.subtitle{
 font-family: 'PT Sans', Arial, sans-serif;
}



.catalog li{
width:220px;
height:318px;
border:1px #eaeaea;
}
.name-product{
 font-family: 'PT Sans', Arial, sans-serif;
 font-weight: bold;
 color:#000000;
 font-size: 18px;
}
.old-price{
 font-family: 'PT Sans', Arial, sans-serif;
 font-weight: bold;
 color:#a9a9a9;
 font-size: 17px;
 text-decoration: line-through;
}
.price{
 font-family: 'PT Sans', Arial, sans-serif;
 font-weight: bold;
 color:#ffffff;
 font-size: 17px;
 background-image: url(../img/red-button.svg) no-repeat;
}

.service{
 background: #f4f8fa;
}
.service .title{
 font-size: 30px;
 color: #000000;
}
.service .about{
  font-family: 'PT Sans', Arial, sans-serif;
}
.service-items a{
  background-color: #32425c;
  color: #ffffff;
  padding:
}
.service-items a:focus{
  background-color: #ffffff;
  color: #32425c;
}

.note{
  font-family: 'PT Sans', Arial, sans-serif;
}


}
/*дополнительные стили для каталога*/

.user-room{
  background-color: #ffffff;
  color:#000000;
  font-size:21px;
}
.my-booking a,
.personal-account a{
  color:#32425c;
  font-size:16px;
  padding:
}
.breadcrumbs a{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size:13px;
  color:#000000;
  padding:
}
.main-caption{
  color:#32425c;
  background-color:#f2f6f8;
}
.menu-filters{
  font-family: 'PT Sans', Arial, sans-serif;
  color:#000000;
  background-color:#f7f3ec;
  font-size:13px;
}
.menu-filters a{
  color:#000000;
  opacity: 0.3;
  padding:
}
.menu-filters a:hover{
  color:#000000;
  opacity: 1;
  text-decoration: underline;
}
.menu-filters a:focus{
  color:#ee3643;
  opacity: 1;
  text-decoration:none;
}
.paginator a{
  font-family: 'PT Sans', Arial, sans-serif;
  color:#000000;
  font-size:13px;
  border:#e5e5e5;
  background-color:#ffffff;
  padding:
}
.paginator a:hover{
  border:#bdc6ca;
}
.paginator a:focus{
  border:#ee3643;
}
.about-product{
  background-color:#f2f6f8;
}
.about-product p{
  font-family: 'PT Sans', Arial, sans-serif;
  color:#000000;
  font-size:13px;
}
.about-company h2{
  color:#000000;
  font-size:30px;
}
/* ----- Сеточные стили ----- */
html,
body {
  min-width: 1122px;
  min-height: 1750px;
}


.conteiner{
  width:940px;
  margin: 0 auto;
  padding: 0 10px;

}
.header-top{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:42px;
  margin: 0 auto;
  margin-bottom: 47px;
  }

.header-middle{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height: 158px;
  align-items: flex-start;
}
.conteiner2{
  width: 282px;
  margin: 0 0;
}
.user-service{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.conteiner3{
  width: 300px;
    margin: 0 auto;
}
.conteiner4{
  width: 450px;
    margin: 0 auto;
}
.conteiner5{
  width: 270px;
    margin: 0 auto;
}
.conteiner6{
  width: 940px;
  margin: 0 auto;
  padding:0 10px;
  height: 65px;
  margin-bottom: 46px;
}

.product-row{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.popular{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f0;
  color:#32425c;
  min-height: 90px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.popular h2{
  font-size: 30px;
  padding-left: 30px;
}

.popular a{
  background-color: #ee3643;
  color:#ffffff;
  font-size: 14px;
  padding-top:12px;
  padding-bottom:10px;
  padding-left:55px ;
  padding-right:55px;
  margin-right: 25px;
  border-radius: 4px;

}
.catalog{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  height: 320px;
  margin-bottom: 22px;
}
.catalog li{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 320px;
  width: 220px;
  margin-right: 20px;
  border: 1px solid #eaeaea;
}
.product-img{
  position: absolute;

}
.name-product {
  position: absolute;
  padding-top: 182px;
  position: absolute;
  width: 158px;
  text-align: center;
  margin: 0 auto;
}
.old-price{
  position: absolute;
  padding-top: 233px;
  margin: 0 auto;
}
.price{
  position: absolute;
  padding-top: 271px;
  text-align: center;
  background-image: url(../img/red-button.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 143px;
  border-radius: 4px;
  margin: 0 auto;
}

.produsers{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
}
.produsers li{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #eaeaea;
  list-style: none;
  width:220px;
  height:145px;
}
.produsers li:nth-child(4n){
  padding-right: 0;
}

.service-about{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}
.service-select{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.service-guarantee{
  visibility: hidden;
}
.service-credit{
  visibility: hidden;
}

.about-technomart .about-item li{
  font: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  list-style:none;
  margin-bottom: 19px;
}
.about-company{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 86px;
}
.about-technomart p{
  font-family: 'PT Sans', Arial, sans-serif;
  font-style: normal;
  font-size: 13px;
  color: #000000;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 22px;
}
.contact-technomart p{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.about-technomart ul{
  margin-bottom: 41px;
}
.about-technomart a{
  background-color: #ee3643;
  color:#ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding-top:14px;
  padding-bottom:12px;
  padding-left:40px ;
  padding-right:40px;
  border-radius: 4px;
}
.contact-technomart a{
  background-color: #ee3643;
  color:#ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding-top:14px;
  padding-bottom:12px;
  padding-left:58px ;
  padding-right:58px;
  border-radius: 4px;
}
.contact-technomart img{
  margin: 0 0;
  margin-bottom: 41px;
}
.about-company h2{
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0;
  margin-bottom: 27px;
}
.conteiner-1{
  width: 540px;
  margin: 0 0;
  min-height: 370px;

}
.conteiner-2{
  width: 300px;
  margin: 0 0;
  min-height: 370px;
}

.main-footer li{
  list-style: none;
}
.footer-line1{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0;
  margin-bottom: 29px;
}
.container-3{
  width: 560px;
}
.footer-nav{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 39px;
  margin: 0 0;
}
.footer-line2{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0;
  align-items: baseline;
  margin-bottom: 52px;
}
.footer-line2 p{
  margin: 0 0;
}
.container-4{
  width: 540px;
}
.footer-nav2{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0;
}

.footer-end{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #293449;
  padding-top: 36px;
  padding-bottom: 30px;
}
.lines-down{
  background-color: #293449;
  font-size: 17px;
  color: #ffffff;
}
.lines-down:hover{
  background-color:#212a3a;
}
.footer-end p{
  margin: 0 0;
}
.conteiner-5{
  width: 150px;
}
.footer-social{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-social .vk{
  position: absolute;
  padding-top:13px;
  padding-left: 8px;
}
.footer-social .fb{
  position: absolute;
  padding-top:10px;
  padding-left: 13px;
}
.footer-social .insta{
  position: absolute;
  padding-top:10px;
  padding-left: 10px;
}
.footer-social a{
  background-image: url(../img/circle.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.conteiner-6{
  width: 300px;
}
.footer-links{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-footer{
  background-color: #32425c;
}
.footer-nav a{
  list-style: none;
  font-size: 18px;
  color:#ffffff;
  padding:
}
.footer-nav2 a{
  font-size: 18px;
  color:#ffd180;
  padding:
}
.footer-copyright{
  font-size: 16px;
  color:#ffffff;
}
.footer-links p{
  font-size: 16px;
  color:#ffffff;
}
.footer-links a{
  color:#ffd180;
  padding:
}
.footer-contacts{
  font-size: 18px;
  color:#ffffff;
